##Predictive Analytics- Assignment1- Question1
BlackFriday dataset - This dataset contains information about purchases made in a retail store on 
Black Friday sale. Here's a brief description of the column in the sample
dataset:

.USER_ID: ID of the user

.Gender:F or M

.Age:Age group to which the customer belongs

.Occupation:ID of occupation of the customert

.City_Category:A or B or C


.Stay_In_Current_City_Years:0 to 4+


.Martial_Status:0 Unmarried,1 Married

.Purchase:Purchase amount in dollars

Dataset path: https://drive.google.com/file/d/1xk9uszUR6Pgzh9ApKOntG2sfstJoKJiy/view?usp=sharing

##Problem Statement: 
The retailer wants to analyse this data."Load the Data.Check if any
of the columns contains NULL values.Print the total number of columns comntain in null values
&also print their names and write in output.csv file.

Mounting google drive.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Importing Libraries.

In [2]:
import numpy as np
import pandas as pd
import csv

Importing the Dataset.

In [3]:
# Importing dataset
train = pd.read_csv('/content/drive/MyDrive/blackfriday.csv')

In [4]:
# Preview dataset
train.head()

   User_ID Gender    Age  ...  Stay_In_Current_City_Years Marital_Status Purchase
0  1000001      F   0-17  ...                           2              0     8370
1  1000001      F   0-17  ...                           2              0    15200
2  1000001      F   0-17  ...                           2              0     1422
3  1000001      F   0-17  ...                           2              0     1057
4  1000003      M  26-35  ...                           3              0    15227

[5 rows x 8 columns]

Reading the counts for Rows and Columns in dataset.

In [5]:
# Dataset dimensions - (rows, columns)
print('Rows: {} Columns:{}'.format(train.shape[0],train.shape[1]))

Rows: 4864 Columns:8

In [6]:
# Features data-type
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4864 entries, 0 to 4863
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   User_ID                     4864 non-null   int64
 1   Gender                      4864 non-null   object
 2   Age                         4864 non-null   object
 3   Occupation                  4862 non-null   float64
 4   City_Category               4864 non-null   object
 5   Stay_In_Current_City_Years  4862 non-null   object
 6   Marital_Status              4864 non-null   int64
 7   Purchase                    4864 non-null   int64
dtypes: float64(1), int64(3), object(4)
memory usage: 304.1+ KB

In [7]:
# Statistical summary
train.describe().T

                 count          mean  ...         75%        max
User_ID         4864.0  1.000495e+06  ...  1000744.00  1000986.0
Occupation      4862.0  8.681818e+00  ...       15.00       20.0
Marital_Status  4864.0  3.986431e-01  ...        1.00        1.0
Purchase        4864.0  9.281189e+03  ...    12011.25    23826.0

[4 rows x 8 columns]

##Checking for Null values

In [8]:
# Checking for Null values
round((train.isnull().sum()/train.shape[0])*100,2).astype(str)+ ' %'

User_ID                        0.0 %
Gender                         0.0 %
Age                            0.0 %
Occupation                    0.04 %
City_Category                  0.0 %
Stay_In_Current_City_Years    0.04 %
Marital_Status                 0.0 %
Purchase                       0.0 %
dtype: object

##Checking the counts of unique values

In [9]:
# Checking the counts of unique values
round((train['Age'].value_counts(normalize = True).mul(100)), 2).astype(str) + ' %'

26-35     37.6 %
18-25    22.12 %
36-45    18.36 %
46-50     8.72 %
51-55     7.18 %
55+       3.62 %
0-17      2.41 %
Name: Age, dtype: object

Writing the null values in the output csv file.

In [11]:
a = train.isnull().any()
c=0
b=[]
for col in train.columns:
    if a[col] == True:
        c+=1
        b.append([col])
with open("output.csv", "w",newline='') as csv_file:
        writer = csv.writer(csv_file, delimiter=',')
        writer.writerow(str(c))
        for i in range(0,len(b)):
            writer.writerow(b[i])

##Path of the Output CSV file.
https://drive.google.com/file/d/1U7VKqX5yg6rV-ojxrtyiKTJOg62fRJEL/view?usp=sharing