##Predictive Analytics- Assignment1- Question4
BlackFriday dataset - This dataset contains information about purchases made in a retail store on 
Black Friday sale. Here's a brief description of the column in the sample
dataset:

.USER_ID: ID of the user

.Gender:F or M

.Age:Age group to which the customer belongs

.Occupation:ID of occupation of the customert

.City_Category:A or B or C


.Stay_In_Current_City_Years:0 to 4+


.Martial_Status:0 Unmarried,1 Married

.Purchase:Purchase amount in dollars

Dataset path: https://drive.google.com/file/d/1xk9uszUR6Pgzh9ApKOntG2sfstJoKJiy/view?usp=sharing

##Problem Statement: 
The retailer wants to analyse this data.Load the Data.And below calucations needs to be done and write it to csv file.

1.Value of IQR.

2.Value of Number of Outliers

Mounting google drive.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Importing Libraries.

In [2]:
import numpy as np
import pandas as pd
import csv

Importing the Dataset.

In [3]:
# Importing dataset
df = pd.read_csv("/content/drive/MyDrive/blackfriday.csv")

In [4]:
# Preview dataset
df.head()

   User_ID Gender    Age  ...  Stay_In_Current_City_Years Marital_Status Purchase
0  1000001      F   0-17  ...                           2              0     8370
1  1000001      F   0-17  ...                           2              0    15200
2  1000001      F   0-17  ...                           2              0     1422
3  1000001      F   0-17  ...                           2              0     1057
4  1000003      M  26-35  ...                           3              0    15227

[5 rows x 8 columns]

# Statistical summary

In [5]:
# Statistical summary
df.describe().T

                 count          mean  ...         75%        max
User_ID         4864.0  1.000495e+06  ...  1000744.00  1000986.0
Occupation      4862.0  8.681818e+00  ...       15.00       20.0
Marital_Status  4864.0  3.986431e-01  ...        1.00        1.0
Purchase        4864.0  9.281189e+03  ...    12011.25    23826.0

[4 rows x 8 columns]

Writing the calculations into the output csv file.

In [6]:
b=[]

c=0

q1 = df["Purchase"].quantile(0.25)

q3 = df["Purchase"].quantile(0.75)

iqr = q3-q1 #Interquartile range

b.append([np.round(iqr,1)])

fence_low  = q1-1.5*iqr

fence_high = q3+1.5*iqr

for col_name in range(0,len(df["Purchase"])):

    if(df.iloc[col_name]["Purchase"] < fence_low) or (df.iloc[col_name]["Purchase"] > fence_high):

        c+=1

b.append([c])

with open("output.csv", "w") as out:

    writer = csv.writer(out, delimiter=",")

    for i in range(0,len(b)):

        writer.writerow(b[i])

Path of the Output CSV file.

https://drive.google.com/file/d/1pEE6sA8ZxQYRcKtmV6FT05qN4ixH0PaX/view?usp=sharing